@font-face {
    font-family: 'HighSpirited';
    src: url('High Spirited.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman";
    background-color: #f9f7f4;
    color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    max-width: 500px;
    padding: 20px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
    animation: scaleIn 1.5s ease-in-out forwards;
}

.titulo-boda {
    font-family: 'HighSpirited', cursive;
    font-size: 4rem;
    margin: 0 0 10px;
    font-weight: 200;
}

.subtitulo-boda {
    font-family: 'HighSpirited', cursive;
    font-size: 1.8rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    color: #6f6f6f;
    font-weight: 200;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes scaleIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
