.Gift {

}

.BankAccount {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 12px;
  background: rgba(var(--ion-color-secondary-rgb), .3);
  margin: 1rem auto;
  text-align: center;
}

.PhonesContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem auto;
    font-size: 1rem;    
}

.Phone {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.PhoneName {
    font-weight: bold;
}
